In [1]:
import json
import os
import pandas as pd

### Objects

In [154]:
df = pd.read_json('/Users/alexander/sasha/src/data/parsed/events_exhibition.json').T

In [95]:
with open('/Users/alexander/sasha/src/data/parsed/events_exhibition.json') as f:
    temp = json.load(f)

In [88]:
df_concert = df.T[df.T['type'] == 'Выставка']

In [89]:
df_concert.T.to_json('/Users/alexander/sasha/src/data/parsed/events_exhibition.json')

In [32]:
for building in df.T['floors']:
    print(building.keys())

dict_keys(['126', '127'])
dict_keys(['131', '132'])

AttributeError: 'str' object has no attribute 'keys'

In [45]:
df_parse = pd.DataFrame(columns=['building_id', 'hall_id', 'hall_num', 'hall_desc'])
for building_id, building in zip(df.T.index, df.T['floors']):
    for floor_id in building.keys():
        for hall_id in building[floor_id]['halls'].keys():
            row = {'building_id': building_id, 'hall_id': hall_id, 'hall_num': building[floor_id]['halls'][hall_id]['number'],\
                   'hall_desc': building[floor_id]['halls'][hall_id]['text']['ru']}
            df_parse = df_parse.append(row, ignore_index=True)

AttributeError: 'str' object has no attribute 'keys'

In [48]:
df_parse.to_csv('/Users/alexander/sasha/src/data/parsed/halls_info.csv', index=None)

In [91]:
!ls

json_parser.ipynb old               parsed

In [92]:
df = pd.read_json('./parsed/objects_rus.json').T[['get_year', "gallery" ,'hall', 'litra', 'm_parent_id', 'masterpiece', 'material', 'name', 'origplace','paint_school', 'path', 'period', 'producein', 'restor', 'seakeys', 'show_in_collection', 'show_in_hall', 'size', 'text', 'type', 'year']]

In [93]:
df["audio"] = ""

In [94]:
df[df["name"] == "Голова ангела"]

,get_year,gallery,hall,litra,m_parent_id,masterpiece,material,name,origplace,paint_school,...,producein,restor,seakeys,show_in_collection,show_in_hall,size,text,type,year,audio
6862,0,{'1': {'id01': '/data/fonds/europe_and_america...,None,,3943,0,"холст, масло",Голова ангела,None,Италия,...,,,Ж-3065 Голова ангела,1,0,46х35 см.,,Живопись,0,

In [85]:
df.loc[6862, "audio"] = "https://media.izi.travel/fae0d384-5475-4134-a0bf-eab6bbf42a1b/4a966c10-8178-469f-9865-ee4992e7144d.m4a"
df.loc[5280, "audio"] = "https://media.izi.travel/fae0d384-5475-4134-a0bf-eab6bbf42a1b/10c997f2-e12b-4d03-9b59-a9d1949bc125.m4a"
df.loc[4168, "audio"] = "https://media.izi.travel/fae0d384-5475-4134-a0bf-eab6bbf42a1b/11df9a42-ec7f-4bde-b4a1-219e8956952b.m4a"
df.loc[4011, "audio"] = "https://media.izi.travel/fae0d384-5475-4134-a0bf-eab6bbf42a1b/b12c8091-b922-4672-809d-797a91d34154.m4a"

In [97]:
df[df["name"] == "Пьеро и Арлекин"][["name", "audio"]]
df[df["name"] == "Белые кувшинки"][["name", "audio"]]
df[df["name"] == "Христос и грешница"][["name", "audio"]]

                    name audio
7021  Христос и грешница
6951  Христос и грешница
5280  Христос и грешница

In [74]:
df_ru = df.copy()
df_ru["litra"] = df_ru['litra'].apply(lambda x: x["ru"])
df_ru["material"] = df_ru['material'].apply(lambda x: x["ru"])
df_ru["name"] = df_ru['name'].apply(lambda x: x["ru"])
df_ru["paint_school"] = df_ru['paint_school'].apply(lambda x: x["ru"] if x else "")
df_ru["producein"] = df_ru['producein'].apply(lambda x: x["ru"])
df_ru["restor"] = df_ru['restor'].apply(lambda x: x["ru"])
df_ru["seakeys"] = df_ru['seakeys'].apply(lambda x: x["ru"])
df_ru["size"] = df_ru['size'].apply(lambda x: x["ru"])
df_ru["text"] = df_ru['text'].apply(lambda x: x["ru"])
df_ru["type"] = df_ru['type'].apply(lambda x: x["ru"])
df_ru["period_text"] = df_ru['period'].apply(lambda x: x["text"]["ru"] if x else "")
df_ru["period_name"] = df_ru['period'].apply(lambda x: x["name"]["ru"] if x else "")

In [42]:
df_ru.paint_school.unique()

array(['', 'Италия', 'Англия', 'Испания', 'Швейцария', 'Фландрия',
       'Польша', 'Голландия', 'Австрия', 'Россия', 'Франция', 'Венгрия',
       'Чехия', 'Германия', 'США', 'Румыния', 'Болгария', 'Римская',
       'Мексика', 'Византийская', 'Нидерланды', 'Швеция', 'Норвегия',
       'Бельгия', 'Финляндия', 'Австралия'], dtype=object)

In [47]:
df_eng = df.copy()
df_eng["litra"] = df_eng['litra'].apply(lambda x: x["en"])
df_eng["material"] = df_eng['material'].apply(lambda x: x["en"])
df_eng["name"] = df_eng['name'].apply(lambda x: x["en"])
df_eng["paint_school"] = df_eng['paint_school'].apply(lambda x: x["en"] if x else "")
df_eng["producein"] = df_eng['producein'].apply(lambda x: x["en"])
df_eng["restor"] = df_eng['restor'].apply(lambda x: x["en"])
df_eng["seakeys"] = df_eng['seakeys'].apply(lambda x: x["en"])
df_eng["size"] = df_eng['size'].apply(lambda x: x["en"])
df_eng["text"] = df_eng['text'].apply(lambda x: x["en"])
df_eng["type"] = df_eng['type'].apply(lambda x: x["en"])
df_eng["period_text"] = df_eng['period'].apply(lambda x: x["text"]["en"] if x else "")
df_eng["period_name"] = df_eng['period'].apply(lambda x: x["name"]["en"] if x else "")

In [6]:
os.getcwd()

'/Users/maximzubkov/Desktop/Programming/sasha/src/data'

In [65]:
df_ru.T.to_json("./parsed/objects_rus.json")
df_eng.T.to_json("./parsed/objects_eng.json")

### Events

In [8]:
df = pd.read_json('./old/events.json').T[['building', 'dateBegin', 'dateEnd', 'gallery', 'halls', 'm_parent_id', 'name', 'path', 'price', 'sponsors', 'text', 'ticket', 'type', 'within']]

In [9]:
df.columns

Index(['building', 'dateBegin', 'dateEnd', 'gallery', 'halls', 'm_parent_id',
       'name', 'path', 'price', 'sponsors', 'text', 'ticket', 'type',
       'within'],
      dtype='object')

In [10]:
df_ru = df.copy()
df_ru["type"] = df_ru["type"].apply(lambda x: x["ru"])
df_ru["halls"] = df_ru["halls"].apply(lambda x: x["ru"])
df_ru["text"] = df_ru["text"].apply(lambda x: x["ru"])
df_ru["price"] = df_ru["price"].apply(lambda x: x["ru"])
df_ru["name"] = df_ru["name"].apply(lambda x: x["ru"])

In [11]:
df_eng = df.copy()
df_eng["type"] = df_eng["type"].apply(lambda x: x["ru"])
df_eng["halls"] = df_eng["halls"].apply(lambda x: x["ru"])
df_eng["text"] = df_eng["text"].apply(lambda x: x["ru"])
df_eng["price"] = df_eng["price"].apply(lambda x: x["ru"])
df_eng["name"] = df_eng["name"].apply(lambda x: x["ru"])

In [12]:
df_ru.T.to_json("./parsed/events_rus.json")
df_eng.T.to_json("./parsed/events_eng.json")

### Collects

In [13]:
df = pd.read_json('./old/collects.json').T[['circ_img', 'headimg', 'img_mob', 'img_pc', 'name', 'path', 'seakeys', 'text', 'textmore']]

In [14]:
df_ru = df.copy()

In [15]:
df_ru["name"] = df_ru["name"].apply(lambda x: x["ru"])
df_ru["headimg"] = df_ru["headimg"].apply(lambda x: x["ru"])
df_ru["seakeys"] = df_ru["seakeys"].apply(lambda x: x["ru"])
df_ru["text"] = df_ru["text"].apply(lambda x: x["ru"])
df_ru["textmore"] = df_ru["textmore"].apply(lambda x: x["ru"])

In [16]:
df_eng = df.copy()
df_eng["name"] = df_eng["name"].apply(lambda x: x["ru"])
df_eng["headimg"] = df_eng["headimg"].apply(lambda x: x["ru"])
df_eng["seakeys"] = df_eng["seakeys"].apply(lambda x: x["ru"])
df_eng["text"] = df_eng["text"].apply(lambda x: x["ru"])
df_eng["textmore"] = df_eng["textmore"].apply(lambda x: x["ru"])

In [17]:
df_ru.T.to_json("./parsed/collects_rus.json")
df_eng.T.to_json("./parsed/collects_eng.json")

### Buildings

In [3]:
df = pd.read_json('./old/buildings.json').T

In [4]:
df.columns

Index(['adress', 'appl_number', 'appl_number_tablet', 'audiog', 'brief',
       'closed', 'excursions', 'exposition', 'floors', 'img', 'img_header',
       'invalid', 'm_sort', 'menu', 'name', 'panorama', 'path', 'picture',
       'rate', 'rules', 'schedule', 'seakeys', 'searcha', 'tel', 'text',
       'textmore', 'ticket', 'timeline', 'virtual_tour', 'yamapcoords'],
      dtype='object')

In [5]:
df_ru = df.copy()
df_ru["adress"] = df_ru["adress"].apply(lambda x: x["ru"])
df_ru["brief"] = df_ru["brief"].apply(lambda x: x["ru"])
df_ru["audiog"] = df_ru["audiog"].apply(lambda x: x["ru"])
df_ru["excursions"] = df_ru["excursions"].apply(lambda x: x["ru"])
df_ru["seakeys"] = df_ru["seakeys"].apply(lambda x: x["ru"])
df_ru["invalid"] = df_ru["invalid"].apply(lambda x: x["ru"])
df_ru["menu"] = df_ru["menu"].apply(lambda x: x["ru"])
df_ru["name"] = df_ru["name"].apply(lambda x: x["ru"])
df_ru["rules"] = df_ru["rules"].apply(lambda x: x["ru"])
df_ru["searcha"] = df_ru["searcha"].apply(lambda x: x["ru"])
df_ru["tel"] = df_ru["tel"].apply(lambda x: x["ru"])
df_ru["timeline"] = df_ru["timeline"].apply(lambda x: x["ru"])
df_ru["textmore"] = df_ru["textmore"].apply(lambda x: x["ru"])

In [6]:
df_eng = df.copy()
df_eng["adress"] = df_eng["adress"].apply(lambda x: x["en"])
df_eng["brief"] = df_eng["brief"].apply(lambda x: x["en"])
df_eng["audiog"] = df_eng["audiog"].apply(lambda x: x["en"])
df_eng["excursions"] = df_eng["excursions"].apply(lambda x: x["en"])
df_eng["seakeys"] = df_eng["seakeys"].apply(lambda x: x["en"])
df_eng["invalid"] = df_eng["invalid"].apply(lambda x: x["en"])
df_eng["menu"] = df_eng["menu"].apply(lambda x: x["en"])
df_eng["name"] = df_eng["name"].apply(lambda x: x["en"])
df_eng["rules"] = df_eng["rules"].apply(lambda x: x["en"])
df_eng["searcha"] = df_eng["searcha"].apply(lambda x: x["en"])
df_eng["tel"] = df_eng["tel"].apply(lambda x: x["ru"])
df_eng["timeline"] = df_eng["timeline"].apply(lambda x: x["en"])
df_eng["textmore"] = df_eng["textmore"].apply(lambda x: x["ru"])

In [7]:
df_ru.T.to_json("./parsed/buildings_rus.json")
df_eng.T.to_json("./parsed/buildings_eng.json")